table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 80vw;
	border-left: 1px solid rgb(224, 221, 221);
	border-right: 1px solid rgb(224, 221, 221);
}

table,
th,
td,
thead,
tbody,
tr {
	text-align: start;
	padding: 0;
	margin-top: 10px;
}
table,
th,
td {
	border-bottom: 1px solid rgb(224, 221, 221);
	border-top: 1px solid rgb(224, 221, 221);
}
th,
td {
	padding: 10px 5px;
}
.table {
	width: 100%;
	height: 80vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
